* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

/* Header */
.header {
    width: 100%;
    height: 80px;
    background-color: rgb(117, 117, 122);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
}

.logo {
    display: flex;
    align-items: start;
}

.logo h1 {
    font-size: 24px;
    color: #fff;
   
    margin-left: 70px;
}



/* Sidebar */
.sidebar{
    width: 100%;
    height: 40;
  
    bottom: 100;
    color: aqua;
    border: 1px solid;

}

.button1{
    position: relative;
  bottom: 77;

}



/* Content */
.main-one {
    position: absolute;
    width: 50%;
    height: 200px;
    /* border: 1px solid; */
    margin-left: 25%;
}

.plus {

    position: relative;
    left: 0;
   
}
.increment{
    background: green;
    color:white;
}
.increment1{
    background: red;
    color:white;
}


/* Footer */
.footer {
    width: 100%;
    height: 80px;
    background-color: rgb(117, 117, 122);

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer p {
    font-size: 16px;
    color: #fff;
    
}